<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunjoy.trm.bizcore.dao.mapper.ShiftStudentMapper">

	<insert id="batchInsert" parameterType="java.util.List">
		insert into biz.shift_student (id,shift_id,student_id) values
		<foreach collection="list" item="item" index="index" separator=",">
	      ( #{item.id},#{item.shiftId},#{item.studentId})
		</foreach>
	</insert>
	<select id="queryShiftStudents" resultType="com.sunjoy.trm.bizcore.dao.dto.ShiftStudentDto">
		select sst.student_id as studentId,sst.shift_id as shiftId,st.name as studentName 
		from biz.shift_student sst
		inner join mas.student st on sst.student_id=st.id
		where sst.shift_id=#{shiftId}
	</select>
	
	<delete id="deleteShfitStudents">
		delete from biz.shift_student where shift_id=#{shiftId};
	</delete>
</mapper>